{% extends 'bs1/base/base.html' %}
{% block header %} 
<title>images list</title>
{% endblock %}

{% block body %}

<button type="button" class="btn btn-success btn-lg" onclick='location.href="{% url 'war_upload' %}"'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Upload</span>
</button>

{% if bb%}
<table class="table table-striped">
    <thead>
	<tr>
	    <th>#</th>
        <th>REPOSITORY</th>
	    <th>TAG</th>
	    <th>IMAGE ID</th>
	    <th>SIZE</th>
	    <th>DATE</th>
	    <th>ENGINES</th>
	</tr>
    </thead>
    <tbody>
    {% for x in bb %}
    <tr>
	<th> {{ x.number }} </th>
    <th> {{ x.REPOSITORY }}</th>
	<th> {{ x.TAG }} </th>
	<th> {{ x.image_id|truncatechars:20 }} </th>
    <th> {{ x.VirtualSize|filesizeformat }} </th>
	<th> {{ x.date|date }} </th>
    <th> <a href="/engines/detail/{{x.engine}}"> {{ x.engine }} </a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>


<nav>
    <ul class="pagination">
        <li><a href="?page=1" aria-label="Previous"><span class="glyphicon glyphicon-fast-backward" data-toggle="tooltip" data-placement="top" title="首页"></span></a>
        {% if filelist.has_previous %}
        <li><a href="?page={{ filelist.previous_page_number }}" aria-label="Previous"><span class="glyphicon glyphicon-backward" data-toggle="tooltip" data-placement="top" title="上一页"></span></a>
        </li>
        {% endif %}
        {% for x in pages %}
            {% if x == filelist.number %}
                <li class="active"><a href="?page={{x}}">{{ x }}</a></li>
            {% else %}
                <li class=""><a href="?page={{x}}">{{ x }}</a></li>
            {% endif %}

        {% endfor %}
        {% if filelist.has_next %}
        <li><a href="?page={{ filelist.next_page_number }}" aria-label="Next"><span class="glyphicon glyphicon-forward" data-toggle="tooltip" data-placement="top" title="下一页"></span></a>
        </li>
        {% endif %}
        <li><a href="?page={{ filelist.paginator.num_pages }}"><span class="glyphicon glyphicon glyphicon-fast-forward" data-toggle="tooltip" data-placement="top" title="末页"></span></a></li>
    </ul>
</nav>

{% endif %}


<script>

$('[title=up]').css({"height":"15px","width":"15px","border-radius":"50%","background": "green"})
$('[title=down]').css({"height":"15px","width":"15px","border-radius":"50%","background": "red"})

</script>

{% endblock %}
