{% extends 'bs1/base/base.html' %}
{% block header %} 
<title>engines detail</title>
{% endblock %}

{% block body %}
{% if cc %}
aa
{{cc.Addr}}
bb
<form action="{% url 'remove' %}" method="post">
{% csrf_token %}
<input type="hidden" name="engines" value="{{cc.Addr}}" >
<button type="submit" class="btn btn-danger btn-lg" >
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove
</button>
</form>
<div class="row">
    <div class="col-md-4">
        <div class="text-center"> <h2><bold>Name</bold></h2></div>
        <div class="text-center"> <h4><i>{{cc.Name}}</i></h4></div>
        <hr>
        <div class="text-center"> <h2><bold>Addr</bold></h2></div>
        <div class="text-center"> <h4><i>{{cc.Addr}}</i></h4></div>
        <hr>
        <div class="text-center"> <h2><bold>Resources</bold></h2></div>
        <div class="text-center"> <h4><span>CPU:</span> <i>{{cc.Cpus}}</i></h4></div>
        <div class="text-center"> <h4><span>Memory:</span> <i>{{cc.Memory}}</i></h4></div>
        <hr>
    </div>
    <div class="col-md-4">AA</div>
    <div class="col-md-4">BB</div>
</div>
{% endif %}



{% endblock %}
