{% extends 'bs1/base/base.html' %}
{% block header %} 
<title>containers create</title>
{% endblock %}

{% block body %}

<button type="button" class="btn btn-success btn-lg" onclick='location.href="{% url 'create' %}"'>
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>create
</button>

<table class="table table-striped">
    <thead>
	<tr>
	    <th>#</th>
        <th>key</th>
        <th>value</th>
	</tr>
    </thead>
    <tbody>
    <tr>
	<th>  </th>
    <th> Name </th>
    <th> {{ all.Name|slice:"1:" }} </th>
    </tr>
	<th>  </th>
    <th> Hostname </th>
    <th> {{ all.Config.Hostname }} </th>
    </tr>
	<th>  </th>
    <th> Image </th>
    <th> {{ all.Config.Image }} </th>
    </tr>
	<th>  </th>
    <th> IP Address </th>
    <th> {{ all.NetworkSettings.IPAddress }} </th>
    </tr>
	<th>  </th>
    <th> MacAddress </th>
    <th> {{ all.NetworkSettings.MacAddress }} </th>
    </tr>
	<th>  </th>
    <th> Running </th>
    <th> {{ all.State.Running }} </th>
    </tr>
	<th>  </th>
    <th> Ports </th>
    <th> {{ all.NetworkSettings.Ports }} </th>
    </tr>
	<th>  </th>
    <th> start time </th>
    <th> {{ all.State.StartedAt }} </th>
    </tr>
    </tbody>
</table>

{% endblock %}
